body{
    font-family: Georgia, Garamond, serif;
    font-size: 11pt; 
    background-color: white; 
}
h1, h2{
    text-decoration: underline; 
}
h1{
    font-size: 22pt; 
}
h2{
    font-size: 18pt; 
}

.title-bg{
    background-color: #F0F0F0;
}

.text-color-yellow{
    color: #A4A400;
}

.center{
    text-align: center; 
}

.quote-bg-1{
    background-color: #FFFFC8;
}

.italic-quote{
    font-style: italic; 
}